<div class="container-fluid d-flex justify-content-around">
  <div class="col-12 d-flex justify-content-center">
    <!-- card com perfil e dinde -->
    <div class="col-3 my-3 p-0 mx-0">
      <div class="row">
        <div class="card py-2 px-3 border-dark bratius" style="width: 18rem">
          <img src="{{ foto }}" class="card-img-top imgbratius" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ nome }}</h5>
            <p class="card-text">{{ area }}</p>

            <h5 class="card-title text-center bordas">Minhe dinde</h5>

            <div class="row d-flex align-items-center">
              <div class="col-md-6">
                <img
                  src="https://midias.correiobraziliense.com.br/_midias/jpg/2021/03/05/675x450/1_cbpfot020320212188-6556336.jpg"
                  alt=""
                  class="img-fluid rounded-circle fotodinde"
                />
              </div>

              <div class="col-md-6">
                <p class="font">Nome da silva sauro pereira souza</p>
              </div>
            </div>

            <p class="m-2">Descrição/Cargo.</p>
          </div>
        </div>
      </div>
       <!-- /card com perfil e dinde -->

       <!-- card com temas -->

      <div class="row">
        <div class="card py-2 px-3 border-dark bratius mt-3" style="width: 18rem">
          <div class="card-body">
            <div class="row">
              This is some text within a card body.
            </div>
            <div class="row d-flex justify-content-center">
              <button type="button" class="btn btn-success m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Novo tema
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- /card com temas  -->


    </div>

    <div class="col-8 my-3 pe-3 mx-0">
      <!-- lugar onde posta  -->
      <div class="row d-flex justify-content-start">
        <div class="card postagem">
          <div class="card-body">
            <div class="mb-3">
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
                placeholder="Escreva sua postagem"
              ></textarea>
            </div>

            <div class="row">
              <div class="col d-flex justify-content-start">
                <button
                  type="button"
                  class="btn btn-outline-success green text-dark"
                >
                  Inserir mídia
                </button>
              </div>
              <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-success">Postar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- postagens -->

      <div class="row">
        <div class="card w-100 p-3 mt-2">
          <a href="#" class="card-link p-3 text-decoration-none green">
            <h5>Quem Postou</h5>
          </a>
          <img
            src="https://abstartups.com.br/wp-content/uploads/2018/10/Qual-a-tecnologia.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Isso é uma postagem</h5>
            <p class="card-text">
              Aqui vai o texto da postagem, as pessoas podem postar o que
              quiserem aqui.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card w-100 p-3 mt-2">
          <a href="#" class="card-link p-3 text-decoration-none green">
            <h5>Quem Postou</h5>
          </a>
          <img
            src="https://blog.bigmidia.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2021/02/materia-esporte-amador.png.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Isso é uma segunda postagem</h5>
            <p class="card-text">
              Aqui vai o texto da postagem, as pessoas podem postar o que
              quiserem aqui.
            </p>
          </div>
        </div>
      </div>

      <!-- postagem -->
    </div>
  </div>
</div>

<!-- Modal de tema-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo Tema</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group mt-2">
          <label for="nome" class="form-label font"> Nome: </label>
          <input [(ngModel)]='tema.nomeTema' type="text" class="form-control" id='nome' placeholder="Digite o nome do tema">
      </div>
      <div class="form-group mt-2">
        <label for="área" class="form-label font"> Área: </label>
        <input [(ngModel)]='tema.area' type="text" class="form-control" id='area' placeholder="Digite a área do tema">
    </div>
    <div class="form-group mt-2">
      <label for="descricaoTema" class="form-label font"> Descrição: </label>
      <input [(ngModel)]='tema.descricao' type="text" class="form-control" id='descricaoTema' placeholder="Digite a descricao do tema">
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)='cadastrarTema()' > Salvar </button>
      </div>
    </div>
  </div>
</div>
